
<div th:fragment="navbar">
    <div class="navbar navbar-expand-lg navbar-light" style="background-color: #f6f6f6 " >
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}"><img id='logo' th:src="@{/img/logo1.png}" alt="Logo" /></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li  style="  font-size: large"  class="nav-item"><a  class="nav-link" th:href="@{/}">Home</a></li>
                    <li style="font-size: large" class="nav-item dropdown">
                        <a  class="nav-link dropdown-toggle" th:href="@{|/clientPage|}"  role="button" data-toggle="dropdown" aria-haspopup="true" >Clients</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@{/clientPage}">Liste de clients</a>
                            <a class="dropdown-item" href="@{/clientForm}">Ajouter un client</a>
                            <a class="dropdown-item" href="@{/editClient}">Editer client</a>
                        </div>
                    </li>
                    <li style="font-size: large" class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle"  th:href="@{|/clientPage|}"  role="button" data-toggle="dropdown" aria-haspopup="true" >Catalogue</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                        <a class="dropdown-item" href="@{/productList}">Liste de produits</a>
                        <a class="dropdown-item" href="@{/addProduct}">Ajouter un produit</a>
                        <a class="dropdown-item" href="@{/editProduct}">Modifier un produit</a>
                    </div>
                    </li>
                    <li style=" font-size:large" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:href="@{/commande|}"  role="button" data-toggle="dropdown" aria-haspopup="true">Commandes</a></li>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                        <a class="dropdown-item" href="@{/productList}">Liste de commandes</a>
                        <a class="dropdown-item" href="@{/addProduct}">Ajouter une commande</a>
                        <a class="dropdown-item" href="@{/editProduct}">Modifier une commande</a>
                    </div>
                </ul>
            </div>

    </div>
</div>