<div th:include="fragments/head :: head"></div>
<div id="background">
    <div class="container">
    <br/><br/>
    <form name=f th:action="@{/login}" method="POST" class="form-signin" style="width:30%;margin:auto">
        <h3 class="form-signin-heading">Connexion</h3>
        <br/>
        <div align="center" th:if="${param.error}">
            <p style="font-size: medium; color: #FF1C19;">Email or password is invalid</p>
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>

        <input type="text" id="username" name="username"  th:placeholder="Email"
               class="form-control" /> <br/>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" class="form-control" /> <br />


        <button class="btn btn-lg btn-primary btn-block" type="Submit" th:text="Login"></button>
    </form>
    </div>
</div>
</body>
</html>