<div th:include="fragments/head :: head"></div>
<div th:include="fragments/navbar :: navbar"></div>
<div id="background">
  <div id="title">Fiche produit</div>
  <div style="margin:1%; padding: 3%; text-align: center">
    <div class="emp-profile" th:object="${product}">
      <form style="text-align: center" method="post">
        <div style="margin-bottom: 1%;" class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img th:src="@{product.picture}" alt="Image produit" />
            <!--  <img src="https://img.bfmtv.com/c/630/420/b6b/9fb6cad2c407d32eedd65220d16a8.jpg" >-->
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h4 th:text="${product.label}">
              </h4>
            </div>
          </div>
          <br>
          <div class="col-md-2">
            <a th:href="@{/editProduct/{id}(id=${product.id})}"> <button class="btn btn-primary btn-lg" type="button" style="background-color: #2a6f7e ; color: white"><i class="fas fa-edit" style="font-size:1.4rem;"></i> </button> </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <label class="lab">Description</label>
                  </div>
                  <div class="col-md-6">
                    <p th:text="${product.description}"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="lab">Marque</label>
                  </div>
                  <div class="col-md-6">
                    <p th:text="${product.brand.label}"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="lab">Référence</label>
                  </div>
                  <div class="col-md-6">
                    <p th:text="${product.reference}"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="lab">Prix hors taxe</label>
                  </div>
                  <div class="col-md-6">
                    <p th:text="${product.priceExclTax}"></p>
                  </div>
                </div>
              <!-- <div class="row">
                  <div class="col-md-6">
                    <label class="lab">Prix TTC</label>
                  </div>
                  <div class="col-md-6">
                    <p th:text="${result}"></p>
                  </div>
                </div>-->
                <div class="row">
                  <div class="col-md-6">
                    <label class="lab">Quantité en stock</label>
                  </div>
                  <div class="col-md-6">
                    <p th:text="${product.stockQuantity}"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="lab">Catégorie</label>
                  </div>
                  <div class="col-md-6">
                    <p th:text="${product.category.label}"></p>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div></div>
</div>
<div th:include="fragments/footer :: footer"></div>