<div th:include="fragments/head :: head"></div>
<div th:include="fragments/navbar :: navbar"></div>
<div id="background">
<div id="title">Modification du client</div>
<div class="container" >
  <hr>
  <div class="alert alert-success alert-dismissible fade show">
  <strong>Success!</strong> Your message has been sent successfully.
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
  <br>
  <form action="#"  th:action="@{/updateClient/{id}(id=${client.id})}" th:object="${client}" method="post">
    <h5>Civilités</h5>
    <div class="form-group row">
      <span th:errors="*{firstname}" th:if="${#fields.hasErrors('firstname')}"></span>
      <label  for="firstname" class="col-sm-2 col-form-label" >Prénom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" th:field="*{firstname}" id="firstname" name="firstname" placeholder="Prénom" th:required="required"/>
      </div>
    </div>

    <div class="form-group row">
      <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
      <label for="lastname" class="col-sm-2 col-form-label" >Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" th:field="*{lastname}" id="lastname" name="lastname" placeholder="Nom" th:required="required"/>
      </div>
    </div>
    <div class="form-group row">
      <span th:if="${#fields.hasErrors('company.name')}" th:errors="*{company.name}"></span>
      <label for="company" class="col-sm-2 col-form-label" >Entreprise</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" th:field="*{company.name}" id="company" name="company" placeholder="Nom de l'entreprise" th:required="required"/>
      </div>
    </div>
    <div class="form-group row">
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
      <label for="email" class="col-sm-2 col-form-label" >Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" th:field="*{email}" id="email" name="email" placeholder="Adresse Email" th:required="required"/>
      </div>
    </div>
    <div class="form-group row">
      <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
      <label for="password" class="col-sm-2 col-form-label" >Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" th:field="*{password}" id="password" name="password" placeholder="Mot de passe" th:required="required"/>
      </div>
    </div>
    <div class="form-group row">
      <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
      <label for="phoneNumber" class="col-sm-2 col-form-label" >Téléphone</label>
      <div class="col-sm-10">
        <input type="tel" class="form-control" th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber" placeholder="Téléphone" th:required="required"/>
      </div>
    </div>
    <div class="form-group row">
      <span th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></span>
      <label for="birthdate" class="col-sm-2 col-form-label" >Date de naissance</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" th:field="*{birthdate}" id="birthdate" name="birthdate" th:required="required"/>
      </div>
    </div>
    <hr>
    <h5>Adresse</h5>
    <div class="form-group row">
      <div class="col">
        <span th:if="${#fields.hasErrors('address.numberStreet')}" th:errors="*{address.numberStreet}"></span>
        <label for="numberStreet" class="required">Numéro</label>
        <input type="text" class="form-control" th:field="*{address.numberStreet}" id="numberStreet" name="numberStreet" placeholder="Numéro de rue" th:required="required" />
      </div>
      <div class="col">
        <div >
          <span th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}"></span>
          <label for="street" class="required" >Rue</label>
          <input type="text" class="form-control" th:field="*{address.street}" id="street" name="street" placeholder="Libellé de rue" th:required="required"/>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <span th:if="${#fields.hasErrors('address.zip')}" th:errors="*{address.zip}"></span>
        <label for="zip" >Code Postal</label>
        <input type="text" class="form-control" th:field="*{address.zip}" id="zip" name="zip" placeholder="Code postal"/>
      </div>
      <div class="col">
        <span th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></span>
        <label for="city">Ville</label>
        <input type="text" class="form-control" th:field="*{address.city}" id="city" name="city" placeholder="Ville"/>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="float-right">
          <button type="submit" class="btn" style="background-color: #202326 ; color: white">Envoyer</button>
        </div>
      </div>
    </div>
  </form>
</div>

  <div style="padding: 3%; font-weight: bold"><a style="color: #202326;" th:href = "@{/clientPage}">Retour à la liste des clients</a></div>

</div>
</div>
<div th:include="fragments/footer :: footer"></div>

<script>
  $(document).ready(function(){
    $(".close").click(function(){
      $("#myAlert").alert('close');
    });
  });
</script>